<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/styl3.css' %}">
</head>
<body>

    <div style="position: absolute; margin-top: 1%; margin-left: 1%;"><a href="/admin" >Admin</button></a></div>
    
    <div class="navbar">
        <div class="navbar-secrion">
            <a href="/polls"><h1>Spork Polls</h1></button></a>
            
        </div>
        <div>
            <a href="/polls/recent"><button class="button-1">Recent 5 polls</button></a>
            <a href="/polls/daily"><button class="button-1">Daily poll</button></a>
            <a href="/polls/random"><button class="button-1">Rnadom polls</button></a>
            <a href="/polls/popular"><button class="button-1">Popular polls</button></a>
            <a href="/polls/list"><button class="button-1">All polls</button></a>
            <!-- <a href="/polls/new"><button class="button-1">Sugest a poll</button></a> -->
        </div>
        
    </div>


<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>
</body>
</html>